{% extends "base.html" %}
{% block title %}Device Detail - {{ device.ip }}{% endblock %}
{% block content %}
<div class="text-center mt-3">
    <h3 class="border-bottom pb-3">Device Detail</h3>

</div>
    <table class="table" style="width:60%; margin:auto;">
        <tr>
            <th scope="row">IP Address</th>
            <td>{{ device.ip }}</td>
        </tr>
        <tr>
            <th scope="row">Hostname</th>
            <td>{{ device.hostname }}</td>
        </tr>
        <tr>
            <th scope="row">Model</th>
            <td>{{ device.device_model }}</td>
        </tr>
        <tr>
            <th scope="row">Version</th>
            <td>{{ device.version }}</td>
        </tr>
        <tr>
            <th scope="row">Pingable</th>
            <td>{{ device.pingable }}</td>
        </tr>
        <tr>
            <th scope="row">Last Ping</th>
            <td>{{ device.last_ping }}</td>
        </tr>
        <tr>
            <th scope="row">Device Information Last Updated</th>
            <td>{{ device.updated }}</td>
        </tr>
        <tr>
            <th scope="row">User Notes</th>
            <td>{{ device.note }}</td>
        </tr>
        {% if device.serial_1 %}
        <tr>
            <th scope="row">Serial Number 1:</th>
            <td>{{ device.serial_1 }}</td>
        </tr>
        {% endif %}
        {% if device.serial_2 %}
        <tr>
            <th scope="row">Serial Number 2:</th>
            <td>{{ device.serial_2 }}</td>
        </tr>
        {% endif %}
        {% if device.serial_3 %}
        <tr>
            <th scope="row">Serial Number 3:</th>
            <td>{{ device.serial_3 }}</td>
        </tr>
        {% endif %}
        {% if device.serial_4 %}
        <tr>
            <th scope="row">Serial Number 4:</th>
            <td>{{ device.serial_4 }}</td>
        </tr>
        {% endif %}
        {% if device.serial_5 %}
        <tr>
            <th scope="row">Serial Number 5:</th>
            <td>{{ device.serial_5 }}</td>
        </tr>
        {% endif %}
        {% if device.serial_6 %}
        <tr>
            <th scope="row">Serial Number 6:</th>
            <td>{{ device.serial_6 }}</td>
        </tr>
        {% endif %}
        {% if device.serial_7 %}
        <tr>
            <th scope="row">Serial Number 7:</th>
            <td>{{ device.serial_7 }}</td>
        </tr>
        {% endif %}
        {% if device.serial_8 %}
        <tr>
            <th scope="row">Serial Number 8:</th>
            <td>{{ device.serial_8 }}</td>
        </tr>
        {% endif %}
        {% if device.serial_9 %}
        <tr>
            <th scope="row">Serial Number 9:</th>
            <td>{{ device.serial_9 }}</td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">Configuration:</th>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    View Device Configuration
                </button>
            </td>
        </tr>


    </table>
    <div class="text-center mt-5 ">
        <a href="{% url 'edit_device' device.pk %}" class="text-decoration-none">
        <input type="button" class="btn btn-lg btn-primary" value="Edit Device">
        </a>

        <a href="{% url 'delete_device' device.pk %}">
        <input type="button" class="btn btn-lg btn-danger" value="Delete Device">
        </a>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Configuration for {{ device.ip }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <pre>
                {{ device.configuration }}
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'device_configuration' ip=device.ip %}"><button type="button" class="btn btn-primary">Show Config on New Page</button></a>
            </div>
            </div>
        </div>
        </div>

{% endblock %}
