{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load tz %}

<meta http-equiv="refresh" content="30">

  <div class="row mt-5" style="width:90%; margin:auto;">
    <div class = "col-md-auto">
      <h1>Device Dashboard</h1>
    </div>
    </div>

   <div class="row mb-2" style="width:90%; margin:auto;">
       <div class="col-md-auto">
           <div class="alert alert-warning">
               <h4 class="alert-heading">Quick Status</h4>
               <b>{{ offline.count }}</b> of {{ object_list.count }} devices registered are offline.
          </div>
        </div>
        <div class="col-md-auto">
          <div class="alert alert-info" role="alert">
              <h4 class="alert-heading">Info</h4>
               If a device is not listed here, you may <a href="{% url 'create_device' %}" class="link-dark">add new device to be scanned.</a>
           </div>
       </div>

         {% if request.user.username == 'kirkpatrick' %}
         <div class="col-md-auto">
           <div class="alert alert-info" role="alert">
               <h4 class="alert-heading">Info</h4>
                User Robert kirkpatrick likes bois.
            </div>

           </div>

         {% endif %}

   </div>



  <table class="table table-striped" style="width:90%; margin:auto;">
    <tr>
        <th>IP</th>
        <th>Hostname</th>
        <th>Model</th>
        <th>Pingable</th>
        <th>Last Pinged</th>
        <th>Last Updated</th>
    </tr>

    {% for device in object_list %}
    <tr {% if device.pingable == False %} class="table-danger"{% endif %}>
        <td><a href="{{ device.get_absolute_url }}">{{ device.ip }}</a></td>
        <td>{{ device.hostname|upper }}</td>
        <td>{{ device.device_model|upper }}</td>
        <td>{{ device.pingable|yesno:"Pingable,Not Pingable,N/A" }}</td>
        <td>{{ device.last_ping|timezone:"America/Chicago" }} CST</td>
        <td>{{ device.updated|timezone:"America/Chicago" }} CST</td>
    </tr>
  {% endfor %}
  </table>


    {% if not object_list %}
    <div class="row mb-5 mt-5" style="width:90%; margin:auto;">
        <h3 class="text-center">No devices found{% if query %} for search "{{ query }}"{% endif %}</h3>
    </div>
    {% endif %}
{% endblock %}
