{% extends "base.html" %}
{% block title %}Device Search{% endblock %}
{% block content %}
{% load tz %}

  <div class="row my-5" style="width:90%; margin:auto;">
      <div class="col-md-auto">
          <h1>Device Search</h1>
          <p class="alert alert-info">
              <b>Search status: </b>
              {{ object_list.count }} devices found for search "{{ query }}".
          </p>
      </div>
  </div>

  <table class="table table-striped" style="width:90%; margin:auto;">
    <tr>
        <th>IP</th>
        <th>Hostname</th>
        <th>Model</th>
        <th>Pingable</th>
        <th>Last Pinged</th>
        <th>Last Updated</th>
    </tr>

    {% for device in object_list %}
    <tr {% if device.pingable == False %} class="table-danger"{% endif %}>
        <td><a href="{{ device.get_absolute_url }}">{{ device.ip }}</a></td>
        <td>{{ device.hostname }}</td>
        <td>{{ device.device_model }}</td>
        <td>{{ device.pingable }}</td>
        <td>{{ device.last_ping|timezone:"America/Chicago" }} CST</td>
        <td>{{ device.updated|timezone:"America/Chicago" }} CST</td>
    </tr>
  {% endfor %}
  </table>

    {% if not object_list %}
    <div class="row mb-5 mt-5" style="width:90%; margin:auto;">
        <h3 class="text-center">No devices found{% if query %} for search "{{ query }}"{% endif %}</h3>
    </div>
    {% endif %}
{% endblock %}
