{% extends "base.html" %}
{% block title %}Inventory View{% endblock %}
{% block content %}
{% load tz %}


   <div class="row my-5" style="width:90%; margin:auto;">
       <div class="col-md-auto">
           <h1>Inventory View</h1>
           <p class="alert alert-info">
               Info: This view shows serial numbers in the table. Otherwise this is the same as the "Device Dashboard" view.<br />
               Search will return complete or partial matches for IP, Hostname, or Serial Numbers.
           </p>
           <form class="d-flex" style="width:50%;" method="GET">
            <input class="form-control me-2" name="inventorysearch" type="search" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-primary text-nowrap" type="submit">Search</button>
          </form>
       </div>
   </div>

 

  <table class="table table-striped" style="width:90%; margin:auto;">
    <tr>
        <th>IP</th>
        <th>Hostname</th>
        <th>Model</th>
        <th>Serial 1</th>
        <th>Serial 2</th>
        <th>Serial 3</th>
        <th>Serial 4</th>
        <th>Serial 5</th>
        <th>Serial 6</th>
        <th>Serial 7</th>
        <th>Serial 8</th>
        <th>Serial 9</th>
    </tr>

    {% for device in object_list %}
    <tr {% if device.pingable == False %} class="table-danger"{% endif %}>
        <td><a href="{{ device.get_absolute_url }}">{{ device.ip }}</a></td>
        <td>{{ device.hostname }}</td>
        <td>{{ device.device_model }}</td>
        <td>{{ device.serial_1 }}</td>
        <td>{{ device.serial_2 }}</td>
        <td>{{ device.serial_3 }}</td>
        <td>{{ device.serial_4 }}</td>
        <td>{{ device.serial_5 }}</td>
        <td>{{ device.serial_6 }}</td>
        <td>{{ device.serial_7 }}</td>
        <td>{{ device.serial_8 }}</td>
        <td>{{ device.serial_9 }}</td>
    </tr>    
  {% endfor %}
  </table>
    {% if page_obj %}
    <div class="row my-3" style="width:90%; margin:auto;">
    <div class="pagination container-flud">
    <span class="step-links" style="margin:auto;">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="link-dark">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="link-dark">Previous</a>
        {% endif %}

        <span class="current fw-bold">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="link-dark">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="link-dark">Last &raquo;</a>
        {% endif %}
    </span>
    </div>
    {% endif %}

    {% if not object_list %}
    <div class="row mb-5 mt-5" style="width:90%; margin:auto;">
        <h3 class="text-center">No devices found{% if query %} for search "{{ query }}"{% endif %}</h3>
    </div>
    {% endif %}
{% endblock %}